@import "../../../variables/Variables.scss";

.about-wrapper {
  padding: 30px 0 90px 0;

  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .left-content,
  .right-content {
    width: 48%;
  }

  .left-content {
    img {
      width: 100%;
      height: auto;
    }
  }

  .right-content {
    p:first-child {
      color: $mediumBlack;
      font-weight: 600;
      font-family: $roboto;
      letter-spacing: 0.04rem;
    }

    p {
      margin-bottom: 20px;
    }

    p:last-child {
      margin: 0;
    }
  }
}
