/* Colors */
/* Fonts */
.carousel-container {
  position: relative;
}

.carousel-container .slide-1 {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../../../assets/images/bg2.jpg");
}

.carousel-container .slide-2 {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../../../assets/images/bg3.jpg");
}

.carousel-container .slide-1,
.carousel-container .slide-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.carousel-container .slider-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  color: #ffffff;
}

.carousel-container .slider-content-wrapper h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 66px;
  text-shadow: 0px 0px 10px #444;
  margin-bottom: 5px;
}

.carousel-container .slider-content-wrapper p {
  font-size: 17px;
}

.carousel-container .slider-content-wrapper .carousel-action-btn {
  padding: 10px 20px;
  margin-top: 30px;
  border: 0;
  background-color: #0077b3;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px #444;
          box-shadow: 0px 0px 15px #444;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.carousel-container .slider-content-wrapper .carousel-action-btn:hover {
  background-color: #0088cc;
}

.carousel-container .carousel-arrows {
  position: absolute;
  top: 48%;
  z-index: 10;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}

.carousel-container .carousel-arrows .next-arrow,
.carousel-container .carousel-arrows .prev-arrow {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-container .carousel-arrows .next-arrow:hover,
.carousel-container .carousel-arrows .prev-arrow:hover {
  color: rgba(255, 255, 255, 0.9);
}

.carousel-container .carousel-arrows .next-arrow {
  right: 15px;
}

.carousel-container .carousel-arrows .prev-arrow {
  left: 15px;
}

.modal-container .modal-title {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}

.modal-container .modal-subTitle {
  text-align: center;
  font-size: 15px;
  color: #777;
  margin-top: 10px;
}

.modal-container .contact-form {
  margin-top: 20px;
}

.modal-container .contact-form .row {
  margin-bottom: 18px !important;
}

.modal-container .contact-form .form-control {
  border: 2px solid #f1f1f1;
  border-radius: 0px;
  height: 50px;
}

.modal-container .contact-form .textarea-input {
  height: 130px;
  resize: none;
}

.modal-container .contact-form .submit-btn {
  background-color: #0077b3;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 50px;
}

.modal-container .contact-form .submit-btn:hover {
  background-color: #0088cc;
}
/*# sourceMappingURL=carousel.css.map */