@import "../../../variables/Variables.scss";

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../assets/images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
  border-radius: 0 0 99% 99%/0 0 15% 15%;
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
  border-radius: 0 0 99% 99%/0 0 15% 15%;
}

.slider-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 550px;
  margin: 0 auto;
  color: $white;
  font-family: $firaSans;

  h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 66px;
  }
}

.slick-arrow {
  display: none !important;
}
