@import "../../../variables/Variables.scss";

.navbar2-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  font-family: $firaSans;
  background-color: $primary;
  padding: 5px 0;

  .navbar {
    width: 85%;
    height: 100%;

    .brand-name {
      color: $white;
      font-weight: bold;
      font-size: 28px;
      font-family: $rubik;
      letter-spacing: 0.05rem;
    }

    a {
      color: $white !important;
      text-decoration: none;
    }

    .menu-list {
      li {
        margin: 0 10px;
      }
    }
  }
}
