@import "../../../variables/Variables.scss";

.navbar-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  transition: all 0.5s ease-in-out;
  padding: 40px 100px;
  z-index: 9999;
  font-family: $firaSans;

  .navbar {
    width: 85%;
    height: 100%;
    transition: all 0.5s linear;

    .brand-name {
      color: $white;
      font-weight: bold;
      font-size: 28px;
      font-family: $rubik;
      letter-spacing: 0.05rem;
    }

    a {
      color: $white !important;
      text-decoration: none;
    }

    .menu-list {
      li {
        margin: 0 10px;
      }
    }
  }
}

.navbar-wrapper.active {
  background-color: $primary;
  padding: 10px 50px;

  .navbar {
    width: 90%;
  }
}
