/* Colors */
// $primary: #ff3c00;
// $primary: #0070b8;
$primary: #0077b3;
$primaryHover: #0088cc;
$white: #ffffff;
// $black: #232323;
$black: #000000;
$grey: #6d6d6d;
$mediumBlack: #333;
$footerColor: #252628;

/* Fonts */
$firaSans: "Fira Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$rubik: "Rubik", sans-serif;
$montserrat: "Montserrat", sans-serif;
$dancingScript: "Dancing Script", cursive;
