/* Colors */
$primary: #ff3c00;
$white: #ffffff;
$black: #232323;
$mediumBlack: #6d6d6d;
$footerColor: #252628;

/* Fonts */
$firaSans: "Fira Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$rubik: "Rubik", sans-serif;
