@import "../../../variables/Variables.scss";

.training-container {
  background-color: #fcfcfc;
  color: $white;
  padding: 60px 0 90px 0;

  .training-wrapper {
    max-width: 1130px;
    margin: 0 auto;

    .sub-title {
      // color: $white;
      color: $mediumBlack;
    }

    .content-wrapper {
      display: flex;
      justify-content: space-between;

      .card-container {
        width: 49%;
        padding: 60px 30px 58px;
        // box-shadow: 0 15px 15px rgba(0, 0, 0, 15%);
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, $white 50%, $primary 50%);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;

        .card {
          width: 100%;
          height: 100%;
          border: none;
          background-color: transparent;

          .card-icon {
            width: 64px;
            height: auto;
            margin: 0 auto;
          }

          .card-title {
            text-align: center;
            color: $black;
            font-weight: 600;
            font-size: 20px;
            margin: 15px 0;
          }

          .card-content {
            text-align: center;
            color: #333;
            font-size: 15px;
          }
        }

        &:hover {
          // box-shadow: 0 15px 15px rgba(0, 0, 0, 15%);
          transform: translateY(-5px);
          background-position: 0 100%;

          .card {
            .card-title,
            .card-content {
              color: $white;
            }
          }
        }

        a {
          text-decoration: none;
        }
      }
    }

    .view-btn {
      width: 160px;
      margin: 0 auto;
      margin-top: 30px;

      button {
        background-color: $primary;
        color: $white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        transition: all 0.5s;

        &:hover {
          background-color: #cc3000;
        }
      }
    }
  }
}
