@import "../../../variables/Variables.scss";

.footer-container {
  background-color: #f8f8f8;
  color: $white;
  padding: 40px 0 20px 0;

  .footer-wrapper {
    max-width: 1130px;
    margin: 0 auto;
    font-size: 14px;

    .footer-content {
      display: flex;
      justify-content: space-between;
      // color: rgba(255, 255, 255, 0.8);
      color: $mediumBlack;

      .brand {
        font-family: $montserrat;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.03rem;
        margin-bottom: 20px;
        // color: $white;
        color: $mediumBlack;
      }

      .social-media-wrapper {
        display: flex;
        margin-top: 30px;

        .social-media {
          border: 1px solid rgba(255, 255, 255, 0.8);
          border-radius: 5px;
          width: 35px;
          height: 35px;
          margin-right: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.5s;
          background-color: #777;
          // border-radius: 50%;

          img {
            width: 16px;
            height: 16px;
          }
        }

        a:hover {
          .social-media {
            background-color: $primary;
            border: 1px solid $primary;
          }
        }
      }

      .item {
        width: 20%;

        .bold {
          font-weight: 700;
        }

        .contact-wrapper {
          margin-bottom: 1rem;
        }

        .footer-company-info {
          // color: rgba(255, 255, 255, 0.8);
          color: $mediumBlack;
        }

        .contact-email {
          word-break: break-all;
        }

        ul {
          padding: 0;

          li {
            list-style-type: none;
            margin-bottom: 14px;
            // padding-left: 20px;
            position: relative;

            a {
              // color: rgba(255, 255, 255, 0.8);
              color: $mediumBlack;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
            }

            // ::before {
            //   position: absolute;
            //   content: "";
            //   left: 0;
            //   top: 12px;
            //   background: rgba(255, 255, 255, 0.8);
            //   height: 1px;
            //   width: 10px;
            //   font-size: 14px;
            // }

            :hover {
              color: $primary;
            }
          }
        }
      }

      .item.section-1 {
        width: 30%;
      }

      h3 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        margin-bottom: 20px;
        // color: $white;
        color: $mediumBlack;
      }
    }

    .copyright {
      text-align: center;
      margin-top: 30px;
      border-top: 1px solid #f4f4f0;
      padding-top: 20px;
      // color: rgba(255, 255, 255, 0.8);
      color: $mediumBlack;
    }
  }
}
