@import "../../../variables/Variables.scss";

.testimonials-container {
  // background-color: #fcfcfc;
  padding: 90px 0 0 0;

  .testimonial-wrapper {
    // max-width: 1130px;
    // width: 100%;

    .testimonials-wrapper {
      // display: flex;
      // justify-content: center;
      // flex-wrap: wrap;
      // width: 100%;
      max-width: 1130px;
      margin: 0 auto;
      position: relative;

      .carousel-arrows {
        display: flex;
        justify-content: flex-end;

        .next-arrow,
        .prev-arrow {
          // position: absolute;
          // right: 0;
          // transform: translate(-50%, -50%);
          color: rgba(0, 0, 0, 0.5);
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          width: 40px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fafafa;
          border: 1px solid #f8f8f8;

          &:hover {
            color: $primary;
          }
        }

        .prev-arrow {
          margin-right: 10px;
        }
      }

      .testimonials-inner {
        // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        // background-color: lightseagreen;
        // max-width: 1130px;
        max-width: 90%;
        margin: 0 auto;
        padding: 20px;

        .testimony-wrapper {
          padding: 10px;
          text-align: center;
          font-size: 22px;
          line-height: 33px;
          color: $grey;

          .quote-icon {
            font-size: 35px;
            color: $primary;
          }

          .quote-icon-l {
            margin-right: 10px;
          }

          .author-rating {
            text-align: center;
            margin-top: 15px;
            // background-color: blue;
            // position: absolute;
            // bottom: 0;

            .author-name {
              color: #dfdfdf;
              // color: #ff8d46;
              font-weight: 600;
              letter-spacing: 0.03em;
              font-size: 28px;
              margin: 30px 0 10px 0;
              // text-transform: uppercase;
              // font-style: italic;
              font-family: $dancingScript;
            }
          }
        }
      }
    }
  }
}
